<div appHighlight>
  <mat-card>
    <img mat-card-image [src]="product.image" alt="card" data-testid="product-image" />
    <mat-card-content>
      <p class="card-title" data-testid="product-title">
        {{ product.title }}
      </p>
      <p data-testid="product-price"><strong>Price:</strong> {{ product.price | roundOffPrice }}</p>
      <div data-testid="product-category">
        <mat-chip-list aria-label="Category selection">
          <mat-chip> {{ product.category }}</mat-chip>
        </mat-chip-list>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a
        [routerLink]="['/products', product.id]"
        routerLinkActive="router-link-active"
        mat-raised-button
        data-testid="product-more-details"
        >More Details</a
      >
      <button (click)="handleAddToCart(product)" mat-raised-button color="accent" data-testid="product-add-to-cart">
        Add To Cart
      </button>
    </mat-card-actions>
  </mat-card>
</div>
