<div *ngIf="detail" class="card">
  <div class="card-header">Product Details</div>
  <img
    [src]="detail.image"
    class="card-img-top"
    [alt]="detail.title"
    data-testid="product-image"
    id="testid"
  />
  <div class="card-body">
    <h5 class="card-title" data-testid="product-title">{{ detail.title }}</h5>
    <p class="card-text" data-testid="product-category">
      {{ detail.category }}
    </p>
    <p class="card-text" data-testid="product-description">
      {{ detail.description }}
    </p>
  </div>
</div>
