<ul class="list-unstyled">
  <li class="media my-4">
    <img [src]="item.image" class="media-img mr-3" data-testid="product-image" [alt]="item.title" />
    <div class="media-body">
      <h4 class="mt-0 mb-1" data-testid="product-title">{{ item.title }}</h4>
      <p class="lead" data-testid="product-category-price">
        Category: {{ item.category }} / Price: {{ item.price }}
      </p>
      <p class="lead" data-testid="product-quantity">Quantity: {{ item.quantity }}</p>
    </div>
  </li>
</ul>
