
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input data-testid="titleControl" name="title" ngModel matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input data-testid="priceControl" name="price" ngModel matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input data-testid="descControl" name="description" ngModel matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Image</mat-label>
    <input data-testid="imageControl" name="image" ngModel matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select Category</mat-label>
    <mat-select data-testid="categoryControl" name="category" ngModel>
      <mat-option data-testid="categoryControlValue1" value="electronics">Electronics</mat-option>
      <mat-option data-testid="categoryControlValue2" value="jewelery">Jewelery</mat-option>
      <mat-option data-testid="categoryControlValue3" value="men's clothing">Men's clothing</mat-option>
      <mat-option data-testid="categoryControlValue4description" value="women's clothing">Women's clothin</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="submit-btn">
    <button type="submit" mat-raised-button color="primary" data-testid="submit-button">Submit</button>
  </div>
</form>

